menu "ESP BOX EMU Configuration"

    choice
        prompt "Rom Storage Configuration"
        default ROM_STORAGE_SDCARD
        help
            Select the storage you want to use for Roms.
        config ROM_STORAGE_LITTLEFS
            bool "LittleFS (internal) Storage"
        config ROM_STORAGE_SDCARD
            bool "uSD Card (SPI) Storage"
    endchoice

endmenu
